@using Homework_03_13.Models
@model List<ToDoItem>

<div b-gla70z2p0w class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>Title</th>
                    <th>Category Name</th>
                    <th>Completed Date</th>
                </tr>
                @foreach(ToDoItem item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CompletedDate.Value.ToShortDateString()</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>